/* Layout Styles */
.sty_flexRow{
	display:flex; flex-direction:row; align-items:center; 
}
.sty_flexRowCenter{
	display:flex; flex-direction:row; justify-content:center; align-items:center; font-size:1.4rem;
}
.sty_flexColumn{
	display:flex; flex-direction:column;
}
.sty_flexColumnCenter{
	display:flex; flex-direction:column; justify-content:center; font-size:1.4rem;
}
.sty_flex1{
	flex:1;
}
.sty_flex2{
	flex:2;
}
.sty_flex3{
	flex:3;
}
.sty_flex4{
	flex:4;
}	
.sty_hide{
	display:none;
}
.sty_bold{
	font-weight:bold;
}
.sty_1stIndent{
	margin-left:8px;
}
.sty_topMargin{
	margin-top:5px;
}
.sty_blueFont{
	color:#21658c;
}
.sty_blueHeader{
	font-size:1.4rem; text-align:center; margin-top:10px; color:#21658c; font-weight:bold;
}
.sty_underlineHeader{
	font-size:1em; text-decoration:underline; text-align:left; margin:10px 4px 0px 5px; 
}
.sty_underlineInfoHeader{
	font-size:1em; text-decoration:underline; text-align:left; margin:10px 0px -2px 0px; 
}
.sty_firstIndentHeader{
	margin-bottom:0px; margin-left:9px; margin-top:5px; font-size:1.4rem;
}
.sty_headerCentered{
	margin-bottom:0px; margin-top:5px; font-size:1.4rem; text-align:center;
}
.sty_headerUnderlineCentered{
	margin-bottom:0px; margin-top:5px; font-size:1.4rem; text-align:center; text-decoration:underline;
}
.sty_firstIndentFlexRow{
	margin-bottom:0px; margin-left:9px;	display:flex; margin-top:0px; font-size:1.4rem;
}
.sty_cbwLabel{
	font-size:1.4rem; padding:2px 0px 2px 17px; vertical-align:middle; text-align:left; color:#000; 
	text-indent:-17px; cursor:pointer; 
}
.sty_smFontHeader{
	font-size:1em; text-align:left; margin: 10px 0px -4px 6px; text-decoration:underline;
}
.sty_infoIcon{
	margin-bottom:-2px; margin-left:3px; cursor:pointer;
}
.sty_sectionWrap{
	margin-left:5px; 	
}
.sty_cbRangeWrap{
	margin-bottom:0px; margin-left:3px;	
}
.sty_cbWrap{
	font-size:1.4rem; text-align:left; display:inline-block;
}
.sty_cbStackedWrap{
	font-size:14pt; text-align:left; display:inline-block; margin-top:5px;
}
.sty_cbLabel{
	display:inline-block; margin-left:2px; font-size:1.4rem; padding:2px 0px 2px 17px; vertical-align:middle; text-align:left; color:#000; 
	text-indent:-17px; cursor:pointer; margin-right:10px;
}
.sty_cbLabel span{
	text-indent:0px; font-size:1.3rem;
}	
.sty_cb{
	cursor:pointer; margin-right:5px; 
}	
.sty_leftSlider{
	margin-left:0px; margin-right:10px;
}
.sty_goodBadPics{
	display:inline-block; width:10px; height:10px; margin:0 4px -1px 4px; 
}	
.sty_rightSlider{
	margin-left:10px; 
}
.sty_getHelpBtnWrap{
    background-color:#eef3f8; padding:10px 12px; z-index:500; text-align:center;
}	
.sty_getHelpBtnWrap .button{
	font-size:15px; width:100%; color:#2F6384; font-weight:bold;
}	
.sidebar-content .sty_getHelpBtnWrap .button{
	margin-bottom:0;
}
.sty_getHelpBtn1{
	background-color:#5e94b6; font-size:1.5rem; line-height:1.5; padding:.6rem 1.4rem; text-shadow:1px 1px 1px rgba(30,30,30,0.7);
    text-align:center; cursor:pointer; color:#FFF; border-radius:3px; box-shadow: 0 1px 2px rgba(0,0,0,1); font-weight:bold;
}	
.sty_getHelpBtn{
	background-color:#fff; font-size:1.5rem; line-height:1.5; padding:.6rem 1.4rem;	text-shadow:1px 1px 1px rgba(210, 210, 210, 0.5); text-align:center; 
	color:#316483; border-radius:3px; box-shadow:0 1px 2px rgba(0, 0, 0, 1); border-top:1px solid #888; font-weight:bold;
}
.sty_getHelpBtn:hover{
	    box-shadow:0 1px 2px rgba(0,0,0,0.5); border-top:1px solid rgba(136,136,136,0.5); cursor:pointer;
}	
.sty_explainWrap p{
	margin-top:5px; margin-bottom:5px; text-align:left;
}
.sty_anchor{
	color:#4b9caf !important; margin:0 !important;
}
.sty_anchor:hover{
	color:#222 !important;
}	
.sty_greenRamp .range-slider .ui-widget-header, .sty_redRamp .range-slider .ui-widget-header{
	border: 1pt solid #2F6384 !important; background:none;
}
.sty_greenRamp .slider-container .slider.ui-widget-content {
    background: linear-gradient(to right, #fff, #4FA84A) !important;
}
.sty_redRamp .slider-container .slider.ui-widget-content {
	background: linear-gradient(to right, #fff, #e60000) !important; 
}

#sidebar-help-area{
	display:none !important;
}

/* fix the accordion height issue in Safari */
.sidebar-content{
	height:auto !important;
}


