.be_rslide{
	width:200px; display:inline-block; margin-bottom:2px;
}	
.be_attWrap{
	display:flex; margin-left:8px; white-space:pre; margin-top:-1px;
}	
.be_barGreen{
	background-color:#4FA84A;
}
.be_barRed{
	background-color:#e60000;
}
.be_barWrapper {
	width:220px; position:relative;	
} 
.be_barLabel{
	display:inline-block; margin:6px 0px 0px 0px;	
}	
.be_bars{
	position: absolute; display: block; width:216px; height:10px; border: 0; left: 0px; bottom: 0%; float:left; color:black; 
	box-shadow: 1px 1px 1px rgba(170,170,170,0.25);
}
.be_spanBar{
	top:2px; left:2px; overflow:hidden; text-indent:-30px;
}
.be_emBar{
	 border-right:1px solid #aaa;
} 
.be_backgroundBar{
	background:#fff; border-radius:4px; border:1pt solid #aaa; height:12px;
}
.be_valBar{
	background-color:#4fa84a;
}
.be_barWrap{
	display:flex;	
}	
.benefitsExplorer .range-slider .slider-container {
    margin: 10px 0 20px;
}
.graphWrap h4{
	margin-bottom:10px; font-weight:700;
}
