/*  Main CSS Styling for WI apps //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.infoIcon{
	margin-bottom:-2px; margin-left:3px; cursor:pointer;
}
.flex-center{
	display:flex; align-items:center;
}
.flex1{
	flex:1;
}
.flexColumn{
	display:flex; flex-direction:column;
}
.hide{
	display:none;
}
.explainWrap p{
	margin-top:5px; margin-bottom:5px;
}
.getHelpBtnWrap{
    background-color:#eef3f8; padding:10px 12px; z-index:500; text-align:center;
}	
.getHelpBtnWrap .button{
	font-size:15px; width:100%; color:#2F6384; font-weight:bold;
}	
.sidebar-content .getHelpBtnWrap .button{
	margin-bottom:0;
}
.aus-wrap .slider{
	margin-left:30px;
}
.aus-wrap{
	display: none;
}
.aus-sections{
	position: relative; top: 100px; padding: 10px;
}
.aus-mainContentWrap{
	padding-left: 7px; 
}
.aus-first-section .toggle-btn{
	margin-top:-10px;	
}
.under{
	text-decoration:underline;
}
/* fix the accordion height issue in Safari //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.sidebar-content{
	height:auto !important;
}
.aus-count-font{
	color:#2f6384; text-align:center; margin-top:-5px; margin-bottom:-10px;
}
.slider-container .ui-state-disabled {
    cursor: not-allowed !important;
}
.aus-slider-label{
	display:none; margin-left:-8px;
}
.aus-radio-indent{
	margin-left:22px;
}
.aus-grth{
	display:none; color: #2f6384; font-weight: 700;
}
.aus-shosu{
	position:absolute; top:94px; right:3px;
}
/* HUC dropdown styling area ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.aus-huc8Chosen, .aus-huc10Chosen, .aus-huc12Chosen{
	display: none;
}
/*.aus-huc6Text, .aus-huc8Text, .aus-huc10Text, .aus-huc12Text{
	display: none;
}*/
.aus-hucSelText{
	margin: 10px;
}
.aus-backBtn{
	cursor: pointer; color: #2F6384;
}
/* Attribute wrap styling for select a site /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.aus-fas_AttributeWrap{
	margin-top: 20px; display: flex; flex-wrap: wrap; padding-bottom: 20px;
}
.aus-fas_AttributeWrap div{
	padding: 3px;
}
.aus-sum-wrap {
    width: 150px; margin: 3px; border: 1pt solid #cdd5d5; padding: 5px; box-shadow: 0 1px 1px rgba(16,22,26,.2); position: relative;
}
.aus-huc-wrap{
	width: 300px; margin: 3px; border: 1pt solid #cdd5d5; padding: 5px; box-shadow: 0 1px 1px rgba(16,22,26,.2); position: relative;

}
.aus-attZoom{
	position: absolute; top:3px; right: 3px;
}
.tabBtns{
	margin-right:-6px; margin-bottom:0 !important; background:#f3f3f3; border-bottom: 1px solid #cdd5d5 !important; border-top: 1px solid #cdd5d5 !important;
}
.aus-funcWrapper{
	margin-top: 20px;
}
.aus-app{
	background: #fff; position: absolute; z-index: 1000; width: 420;
}
.aus-mainContentWrap{
	position: relative;
}

.aus-dlwrap a {
	color: blue !important; cursor: pointer !important;
}
.elm-title{
 	color:#5E94B6; font-size: 21px;
}
.aus-attWrap{
   display: flex; flex-wrap: wrap; text-align: center; margin-left: 45px;
}

