/*  Main CSS Styling for WI apps //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.infoIcon{
	margin-bottom:-2px; margin-left:3px; cursor:pointer;
}
.flex-center{
	display:flex; align-items:center;
}
.flex1{
	flex:1;
}
.flexColumn{
	display:flex; flex-direction:column;
}
.hide{
	display:none;
}
.explainWrap p{
	margin-top:5px; margin-bottom:5px;
}
.getHelpBtnWrap{
    background-color:#eef3f8; padding:10px 12px; z-index:500; text-align:center;
}	
.getHelpBtnWrap .button{
	font-size:15px; width:100%; color:#2F6384; font-weight:bold;
}	
.sidebar-content .getHelpBtnWrap .button{
	margin-bottom:0;
}
.chosen-container-single .chosen-drop{
	margin-top: 0px !important;
}
hr {
    box-sizing: content-box; height: 0; overflow: visible; width: 90%; margin-left: 15px; border-color: rgba(0,0,0,.2);
}
.form-component{
	margin-bottom: 6px !important;
}
/* css styles for the australia restoration explorer */
.rest-selectAHabitatWrapper{
	text-align: center; margin-top: 10px;
}
.rest-legendWrapper{
	display: flex; height: 26px; width: 80%;  margin: 20px auto 0 auto; border:grey solid 1px;
}
.rest-legendItem{
	width: 80px; display: flex; justify-content: center; align-items: center; color: white; font-weight: bold;
	border-left:grey solid 1px;
}
.rest-resultsLabel{
	margin-bottom: 5px; margin-top: 20px;
}
.rest-resultsRadBtns{
	margin-left: 10px;
}
.rest-wetlandsSuitWrapper{
	margin-left: 10px;
}
.rest-musselsSuitWrapper{
	margin-left: 10px; display: none;
}
.rest-viewRankingText{
	color: #2f6384; width: 170px; margin-left: 10px; font-weight: bold; font-size: 12px;
}
.rest-viewRankingText:hover{
	 cursor: pointer;
}
.rest-rankingThresholdText{
	display: none; color: rgba(140, 33, 48,.8); font-size: 11px; width: 90%; font-weight: bold; margin-top: -10px; 
	font-style: italic;
}
.rest-viewChangeText{
	color: #2f6384; width: 170px; margin-left: 10px; font-weight: bold; font-size: 12px;
}
.rest-viewChangeText:hover{
	 cursor: pointer;
}
.rest-yearLabels{
	margin-left: 28px; 
}
.rest-sliderLabel{
	margin-top: -43px; font-size: 14px; font-weight: bold;
}
.rest-yearLabelsWrapper{
	display: flex; margin-top: 5px;
}
.rest-yearSliderWrapper{
	display: flex; align-items: center; margin-left: 10px; margin-top: 42px; height: 10px;
}
.rest-coastalFloodOverlay{
	background-color: rgba(240,240,240,.3)
}
.rest-riseLabels{
	margin-left: 53px; 
}
.rest-riseLabelsWrapper{
	display: flex; margin-top: 5px;
}
.rest-riseSliderWrapper{
	display: flex; align-items: center; margin-left: 10px; height: 10px; margin-top: 40px;
}
.rest-flowToggleWrapper{
	margin-left: 10px; 
}
.rest-floodToggleWrapper{
	margin-left: 10px; margin-top: 0px;
}
.rest-floodText{
	display: none; color: rgba(140, 33, 48,.8); font-size: 11px; width: 90%; font-weight: bold; 
	font-style: italic;
}
.rest-opacitySlider{
	position: absolute; display: flex; bottom: 0px; left: 0px; align-items: center; justify-content: center; width: 100%; 
	background-color:rgb(245,245,245); border-top: 1px solid rgba(0,0,0,.2); padding-top: 16px; z-index: 3000;
}







